{% extends '_base.html'%}

{% block content %}
<h2>Add a New Class</h2>
<form>
Course name:<br>
<input type="text" name="course_name">
<br>
Instructor:<br>
<input type="text" name="instructor">
<br>
Level:<br>
<input type="text" name="level">
<br>
Start date:<br>
<input type="text" name="start_date">
<br>
End date:<br>
<input type="text" name="end_date">
<br>
Meetup link:<br>
<input type="text" name="meetup">
<br>
Topic:<br>
<input type="text" name="topic">
<br>
Description:<br>
<input type="text" name="description">
<br>
Prerequisite:<br>
<input type="text" name="prerequisite">
<br><br>
<input type="submit" value="Submit">
</form>

{% endblock %}


<!-- 
    c_name = models.CharField(max_length=100)
    instructor = models.ManyToManyField(Instructor)
    level = models.CharField(max_length=20)
    start_date = models.DateTimeField(blank=True, null=True)
    end_date = models.DateTimeField(blank=True, null=True)
    meetup_page = models.URLField(max_length=200)
    topic = models.ForeignKey(Topic)
    description = models.TextField()
    prerequisite = models.TextField() -->