<!doctype HTML>
<html>
  <head>
    <title> Course Homepage</title>
  </head>
  <body>
    <nav>
      <a href="#"><img src='images/gdi.png' alt='gdi logo'></a>
      <a href="/course/">Courses</a> |
      <a href="/instructor">Instructors</a> |
      <a href="/getting_started">Getting Started</a>
      {% if user.is_authenticated %}
         hello {{ user.username }}
      {%else%}
        <a href="/login/">Log In</a>
        <a href="/register/">Register Here</a>
      {% endif %}
      {% if user.is_authenticated %}
       <a href="/logout/">Logout</a>
       {% endif %}
    </nav>

    {% block content%}
    {% endblock%}

  </body>
 <html>