<!doctype HTML>
<html>
  <head>
    <title> Course Homepage</title>
    {% if user.is_authenticated %}
     # need to pop out the username once logged in
    <h1> hello {{ user.username }}</h1>
    {% endif %}
  </head>
  <body>
    <nav>
      <a href="#"><img src='images/gdi.png' alt='gdi logo'></a>
      <a href="/course/">Courses</a> |
      <a href="/instructor">Instructors</a> |
      <a href="/getting_started">Getting Started</a>
      <a href="/login/">Log In</a>
      <a href="/register/">Register Here</a>
      <a href="/logout/">Logout</a>
    </nav>

    {% block content%}
    {% endblock%}

  </body>
 <html>