<!doctype HTML>
{% load staticfiles %}
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title> Course Homepage</title>
    </head>

    <body>
        <nav>
            <a href='/'><img src="{% static 'images/gdi_logo.png' %}" alt='gdi logo'></a>
            <ul class="flex-container">
                <li class="flex-item"><a href="/course/">Course</a></li>
                <li class="flex-item"><a href="/instructor/">Instructor</a></li>
                <li class="flex-item"><a href="/getting_started/">Getting Started</a></li>
                {% if user.is_authenticated %}
                <li class="flex-item">hello {{ user.username }}</li>
                {% else %}
                <li class="flex-item"><a href="/login/">Log In As An Instructor</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="flex-item"><a href="/logout/">Logout</a></li>
                {% endif %}
            </ul>

            <div class="clear"></div>
        </nav>
        <br>
        <br>
        <br>

    {% block content%}
    {% endblock%}

  </body>
 <html>