{% extends "base.html" %}

{% block content%}
{% if course%}
    <p>{{course.c_name}}</p>
    <!--buttons-->
    <a href="/course/edit/{{course.c_name|slugify}}-{{course.pk}}"><input type="button" value="Edit Your Course" /></a>
    <a href="/course/delete/{{course.c_name|slugify}}-{{course.pk}}"><input type="button" value="Delete This Course" /></a>
    <a href="/course/create"><input type="button" value="Create a New Course" /></a>
    <div id='content'>
        <div id='left' style="float:left width:70%">
          <p>Start Date:{{course.start_date}} &nbsp&nbsp&nbsp End Date:{{course.end_date}} &nbsp&nbsp&nbsp Level:{{course.level}} &nbsp&nbsp&nbsp
          <a href={{course.meetup_page}}>MeetUp Link</a></p>
          <p>Description:{{course.description}}</p>
          <p>Prerequisite:{{course.prerequisite}}</p>
        </div>

        <div id='materials'>
            <p>Materials</p>
                     <!--add editing button for materials-->
              {%if material_slide%}
                {% for slide in material_slide%}
                    <p>Slides: {{slide.name}} &nbsp&nbsp&nbsp</p>
                    <a href="/course/material_edit/{{slide.name|slugify}}-{{slide.pk}}"><input type="button" value="Edit Your Material" /></a>
                {% endfor%}
              {% else %}
                <p> No record</p>
              {%endif%}
        </div>
        <div id='code'>
              {% if material_code%}
                {% for code in material_code%}
                    <p>Codes: {{code.name}}&nbsp&nbsp&nbsp</p>
                    <a href="/course/material_edit/{{code.name|slugify}}-{{code.pk}}"><input type="button" value="Edit Your Material" /></a>
                {% endfor%}
              {% endif%}
        </div>
        <div id='right' style="float:right">
          <a href="/instructor/{{course.instructor.f_name|slugify}}-{{course.instructor.l_name|slugify}}-{{course.instructor.pk}}">aaa AAA</a>
        </div>
    </div>
{% endif %}
{% endblock %}