{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <th>Course></th>
        <th>Instructor></th>
        <th>Level</th>
        <th>Start Date</th>
        <th>End Date></th>
        <th>MeetUp Link</th>
        <th>Topic</th>
    </tr>
    {% if courses %}
    {%for course in courses %}
        <tr>
            <td><a href="/course/{{course.c_name|slugify}}-{{course.pk}}">{{course.c_name}}</a></td>
            <td><a href="/instructor/{{course.instructor.f_name|slugify}}-{{course.instructor.l_name|slugify}}-{{course.instructor.pk}}">{{course.instructor}}</a></td>
            <td>{{course.level}}</td>
            <td>{{course.start_date}}</td>
            <td>{{course.end_date}}</td>
            <td><a href="{{course.meetup_page}}"> {{course.meetup_page}}</a></td>
            <td>{{course.topic}}</td>
        </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}