{% extends 'base.html'%}

{% block content %}
<h2> Getting Started</h2>
<h3>Sequence A</h3>
<ul>
    <li> Class #1 {% courses %}</li>
    <li> Class #2 {% courses %}</li>
    <li> Class #3 {% courses %}</li>
    <li> Class #4 {% courses %}</li>
</ul>

<h3>Sequence B</h3>
<ul>
    <li> Class #1 {% courses %}</li>
    <li> Class #2 {% courses %}</li>
    <li> Class #3 {% courses %}</li>
    <li> Class #4 {% courses %}</li>
</ul>

<h3>Sequence C</h3>
<ul>
    <li> Class #1 {% courses %}</li>
    <li> Class #2 {% courses %}</li>
    <li> Class #3 {% courses %}</li>
    <li> Class #4 {% courses %}</li>
</ul>

<h3>Sequence D</h3>
<ul>
    <li> Class #1 {% courses %}</li>
    <li> Class #2 {% courses %}</li>
    <li> Class #3 {% courses %}</li>
    <li> Class #4 {% courses %}</li>
</ul>
{% endblock %}
