{% extends 'base.html'%}

{% block content %}
<h2> Getting Started</h2>
<h3>Sequence A</h3>
<ul>
    <li> Class #1 </li>
    <li> Class #2 </li>
    <li> Class #3 </li>
    <li> Class #4 </li>
</ul>

<h3>Sequence B</h3>
<ul>
    <li> Class #1 </li>
    <li> Class #2 </li>
    <li> Class #3 </li>
    <li> Class #4 </li>
</ul>

<h3>Sequence C</h3>
<ul>
    <li> Class #1 </li>
    <li> Class #2 </li>
    <li> Class #3 </li>
    <li> Class #4 </li>
</ul>

<h3>Sequence D</h3>
<ul>
    <li> Class #1 </li>
    <li> Class #2 </li>
    <li> Class #3 </li>
    <li> Class #4 </li>
</ul>
{% endblock %}
