<!--because this relies on having a list of classes for each instructor, a list of classes needs to be created with a QuerySet in the view. Actually, that view can probably filter out based on Instructor? which would render the if clause here redundant -->

{% extends "base.html" %}
{% block content %}
<h1>{{instructor.f_name}} {{instructor.l_name}}</h1>
<div id="instructor_view_view">
    <div id="instructor_info_view">
        <p><a href="/instructor/{{instructor.f_name|slugify}}-{{instructor.l_name|slugify}}-{{instructor.pk}}/edit/"><input type="button" value="Edit Your Profile" /></a></p>
        <div><i>Email: </i>{{instructor.email}}</div>
        <div><i>Twitter: </i><a href="{{instructor.twitter}}">{{instructor.twitter}}</a></div>
        <div><i>Website: </i><a href="{{instructor.website}}">{{instructor.website}}</a></div>
        <div><i>GitHub: </i><a href="{{instructor.git}}">{{instructor.git}}</a></div>

        <h3>Bio</h3>
        <p>{{instructor.bio}}</p>

        <h2>Courses Taught</h2>
        <table class="course_table_list">
            {% if courses %}
            {% for course in courses %}
            <tr>
                <td>{{course.start_date}}</td>
                <td><a href="/course/{{course.c_name|slugify}}-{{course.pk}}">{{course.c_name}}</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

    <div id="instructor_img_view">
        {% if instructor.pic %}
        <p><img src="{{ instructor.pic.url }}" /></p>
    </div>
</div>

<div class="clear"></div>
{% endif%}
{% endblock %}