{% extends 'base.html'%}
{% block content %}
<h1>Login As an Instructor</h1><br>
<div class="form">
    <form id="login_form" method="post" action="/login/"> {% csrf_token %}
        <label>Username:</label>  <input type="text" name="username" value="" size="50" /><br>
        <br><label>Password:</label>  <input type="password" name="password" value="" size="50" /><br>
        <br><input type="submit" value="submit" />
        <a href="/course/"><input type="button" value="Cancel" /></a>
    </form>
</div>
{% endblock %}

